@inherits LayoutComponentBase

@inject NavigationManager Navigation
@inject IJSRuntime JS

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button type="button" class="btn btn-danger" @onclick="Logout">
                Déconnexion
            </button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task Logout()
    {
        await JS.InvokeVoidAsync("localStorage.removeItem", "role");
        await JS.InvokeVoidAsync("localStorage.removeItem", "nom");

        Navigation.NavigateTo("/login", true);
    }
}