<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GestionScolaire.UI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="programmes">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Programmes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cours">
                <span class="bi bi-journal-bookmark" aria-hidden="true"></span> Cours
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="coursofferts">
                <span class="bi bi-calendar-check" aria-hidden="true"></span> Cours Offerts
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="assignation">
                <span class="bi bi-person-check" aria-hidden="true"></span> Assignation
            </NavLink>
        </div>
    </nav>
</div>

